<connectionStrings>
  <add name="SqlServerConnString" connectionString="Server=localhost;Initial Catalog=DB;Integrated Security=true;" providerName="System.Data.SqlClient" />
  <add name="AmicoChat" connectionString="Server=localhost;Initial Catalog=DB;Integrated Security=true;" providerName="System.Data.SqlClient" />
</connectionStrings>